.nav-file:not(.oz-nav-file) { 
    display: none !important;
}

.oz-file-tree-header{
    height: 22px;
    width: 100%;
    color: var(--text-on-accent);
    margin-top: 0px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.nav-folder-title:not([has-child-folder='true']) > div.nav-folder-collapse-indicator{
    display: none;
}

.oz-nav-file-title{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

div.workspace-leaf-content[data-type='file-tree-view'] > div.view-content {
    padding: 10px 5px 10px 5px;
}