.file-tree-plugin-view {
	height: 80vh;
}

.oz-file-tree-header {
	height: 22px;
	color: var(--text-normal);
	margin-top: 3px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 3px;
	text-align: center;
}

.oz-nav-action-button {
	margin-bottom: 2px !important;
	color: var(--text-normal);
	display: inline-block;
	padding: 3px 0px 0 3px !important;
}

.oz-input-container {
	margin-bottom: 3px !important;
	margin-top: 3px !important;
}

.oz-nav-buttons-right-block {
	text-align: right;
}

.oz-nav-file-title {
	padding-left: 2px !important;
	padding-right: 2px !important;
}

div.workspace-leaf-content[data-type='file-tree-view'] > div.view-content {
	padding: 10px 5px 10px 5px;
}

.oz-flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.oz-explorer-container {
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.oz-file-tree-files {
	padding-top: 3px !important;
}

.drag-entered,
.oz-folder-element:hover,
.oz-nav-file:hover {
	background-color: var(--text-selection);
}

.oz-folder-contents {
	will-change: transform, opacity, height;
	margin-left: 6;
	padding: 4px 0px 0px 14px;
	border-left: 1px dashed;
	border-left-color: var(--text-muted);
	font-size: 12.8px;
}

.oz-folder-toggle {
	width: 1em;
	height: 1em;
	margin-right: 10px;
	cursor: pointer;
	vertical-align: middle;
}

.treeview {
	position: relative;
	padding: 4px 0px 0px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.oz-folder-type {
	text-transform: uppercase;
	font-family: monospace;
	font-size: 0.6em;
	vertical-align: middle;
	display: inline-block;
}

.oz-folder-name {
	vertical-align: middle;
	display: inline-block;
}

.oz-icon-div {
	display: inline-block;
}

.oz-folder-block {
	display: inline-block;
	width: 100%;
}

.oz-folder-count {
	float: right;
	padding-right: 28px;
}

.oz-input-container > input {
	padding-left: 8px;
	padding-right: 4px;
}

.oz-nav-action-button:hover {
	color: var(--interactive-accent);
}

.oz-nav-action-button .fa-lg {
	font-size: 1.15em;
}
